<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    
    <events timingLevel="custom">
      <event name="item:added">
        <handler type="Sitecore.AdvancedMVTSuite.ItemEventHandler, Sitecore.AdvancedMVTSuite" method="OnItemAdded"/>
      </event>
      <event name="item:added:remote">
        <handler type="Sitecore.AdvancedMVTSuite.ItemEventHandler, Sitecore.AdvancedMVTSuite" method="OnItemAddedRemote"/>
      </event>
      <event name="item:deleted">
        <handler type="Sitecore.AdvancedMVTSuite.ItemEventHandler, Sitecore.AdvancedMVTSuite" method="OnItemDeleted"/>
      </event>
      <event name="item:deleted:remote">
        <handler type="Sitecore.AdvancedMVTSuite.ItemEventHandler, Sitecore.AdvancedMVTSuite" method="OnItemDeletedRemote"/>
      </event>
    </events>
    
    <commands>
      <command name="webedit:editstrategy" type="Sitecore.AdvancedMVTSuite.Shell.Applications.WebEdit.Commands.Testing.EditStrategy, Sitecore.AdvancedMVTSuite"/>
    </commands>
  </sitecore>
</configuration>
